@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: white;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.main-container {
    background-image: url(../src/images/sunny_day.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 930px;
    border: 2px solid red;
}

.con-a {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid blue;
}

.con-b {
    display: flex;
    width: 40%;
    justify-content: center;
    flex-direction: column;
    border: 1px solid brown;
}

.header {
    margin: 42px auto 20px auto;
}

.search {
    font-size: 24px;
    padding: 12px;
    border: none;
    border-radius: 12px;
}

.con-c {
    width: 80%;
    border: 2px solid purple;
}

.con-d {
    width: 40%;
    border: 2px solid orange;
}

.con-e {
    display: flex;
    justify-content: center;
    border: 2px solid yellow;
}

.con-f {
    display: flex;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgba(172, 172, 172, 0.308);
    background: #104156;
    border-radius: 12px;
}

.con-g {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sky {
    margin: auto auto;
    font-size: 36px;
}

.con-h {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #486BA0;
    border: 2px solid purple;
}

.con-i {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
}

.con-img {
    display: flex;
    align-items: center;
}

.fa-moon {
    padding: 16px;
    font-size: 32px;
}

.con-k {
    display: flex;
    border: 2px solid black;
}

.con-m {
    display: flex;
    border: 2px solid black;
}

.con-img2 {
    display: flex;
    align-items: center;
}

.con-img3 {
    display: flex;
    align-items: center;
}

.con-p {
    display: flex;
    border: 2px solid black;
}

.con-img4 {
    display: flex;
    align-items: center;
}

.day {
    font-size: 32px;
    margin: 0;
}

.temp2 {
    margin-bottom: 8px;
}

.city{
    font-size: 48px;
    margin: 0;
    padding: 0;
}