@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: white;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.main-container {
    background-image: url(../src/images/sunny_day.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 930px;
}

.con-a {
    display: flex;
    justify-content: center;
    width: 100%;
}


.header {
    margin: 42px auto 20px auto;
    font-size: calc(1.2em + 1vw);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-shadow: 1px 1px 2px rgb(45, 45, 45);
}

.searchCity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    font-size: calc(0.5em + 1vw);
    width: 85%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: aliceblue;
    float: left;
}

button {
    float: left;
    width: 10%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-size: 1.5em;
    cursor: pointer;
}

.con-c {
    display: flex;
    width: 80%;
    transition: all .5s linear;
}

.con-d {
    width: 40%;
    margin: 28px 0;
}

.con-e {
    display: flex;
    justify-content: space-around;
    padding-right: 15%;
}

.con-f {
    display: flex;
    color: whitesmoke;
    background-color: rgba(11, 11, 17, 0.6);
    border-radius: 12px;
}

.con-g {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sky {
    font-size: calc(0.5em + 1vw);
    padding: 0 10px;
    text-shadow: 1px 1px 1px rgb(45, 45, 45);
    letter-spacing: 0.1em;
    margin: auto auto;
}

.con-h {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(11, 11, 17, 0.85);
    padding-bottom: 10px;
    transition: all .5s linear;
}



@media screen and (min-width: 768px) {
    .con-i {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .con-b {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }

    .con-j {
        width: 30%;
    }

    .con-zz {
        width: 30%;
    }

    .con-o {
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    .con-i {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
    }

    .main-container {
        min-height: 100vh;
        min-width: 0;
    }

    .con-b {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
    }

    .sky {
        font-size: calc(0.7em + 1vw);
        padding: 0 32px;
    }

    .con-c {
        justify-content: center;
        transition: all .5s linear;
    }

    .con-d {
        width: 100%;
    }

    .con-j {
        width: 80%;
    }

    .con-zz {
        width: 80%;
    }

    .con-o {
        width: 80%;
    }
}

.con-img {
    display: flex;
    align-items: center;
}

.fa-moon {
    padding: 16px;
    font-size: calc(0.9em + 1vw);
}

.con-k {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    background: rgb(11, 11, 17);
    border-radius: 8px;
    padding: 12px;
}

.con-m {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    background: rgb(11, 11, 17);
    border-radius: 8px;
    padding: 12px;
}

.con-img2 {
    display: flex;
    align-items: center;
    font-size: calc(0.9em + 1vw);
}

.currentDay {
    font-size: calc(1.1em + 1vw);
    font-weight: 700;
    letter-spacing: 0.3em;
    color: rgb(26, 26, 26);
    text-transform: uppercase;
    margin: 0;
}

.dayOfTheWeek {
    font-size: calc(0.5em + 1vw);
    font-weight: 600;
    color: rgb(26, 26, 26);
    text-transform: lowercase;
    margin: 0;
}

.con-img3 {
    display: flex;
    align-items: center;
    font-size: calc(0.9em + 1vw);
}

.sun {
    margin: 8px;
    font-size: calc(1.5em + 1vw);
    text-shadow: 1px 1px 2px rgb(45, 45, 45);
    letter-spacing: 0.12em;
}

.con-p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    background-color: rgb(11, 11, 17);
    border-radius: 8px;
    padding: 12px;
}

.con-img4 {
    display: flex;
    align-items: center;
    font-size: calc(0.9em + 1vw);
}

.day {
    font-size: calc(1em + 1vw);
    text-shadow: 1px 1px 1px rgb(45, 45, 45);
    letter-spacing: 0.1em;
    margin: 0;
}

.temp {
    font-size: calc(3.2em + 1vw);
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(45, 45, 45);
    margin: 0;
}

.temp2 {
    font-size: calc(1em + 1vw);
    text-shadow: 1px 1px 1px rgb(45, 45, 45);
    margin-bottom: 8px;
}

.city {
    font-size: calc(2.4em + 1vw);
    font-weight: 700;
    text-shadow: 1px 1px 5px rgb(140, 140, 140);
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

img.con-img2,
img.con-img3,
img.con-img4 {
    min-height: 100px;
    height: 15vh;
    margin-right: 24px;
}

.temp3 {
    font-size: calc(0.9em + 1vw);
    font-weight: 500;
    text-shadow: 3px 3px black;
    letter-spacing: 0.1em;
}

.temp4 {
    font-size: calc(0.9em + 1vw);
    font-weight: 500;
    text-shadow: 3px 3px black;
    letter-spacing: 0.1em;
}

.sky2 {
    font-size: calc(0.6em + 1vw);
    text-shadow: 3px 3px black;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.sky3 {
    font-size: calc(0.6em + 1vw);
    text-shadow: 3px 3px black;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.sky4 {
    font-size: calc(0.6em + 1vw);
    text-shadow: 3px 3px black;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.temp5 {
    font-size: calc(0.9em + 1vw);
    font-weight: 500;
    text-shadow: 3px 3px black;
    letter-spacing: 0.1em;
}

.date {
    margin-bottom: 4px;
    letter-spacing: 0.11em;
    font-weight: 300;
    font-size: calc(0.65em + 1vw);
    text-shadow: 1px 1px 5px rgb(140, 140, 140);
}

.hide {
    opacity: 0;
}